.tarjeta-detalle {
    border: 1px solid #4a4a8a; /* Color del borde */
    border-radius: 10px; /* Bordes redondeados */
    padding: 15px;
    width: 250px;
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #fff;
    margin-bottom: 15PX;
  }
  
  .tarjeta-detalle p {
    margin: 5px 0;
    font-size: 1rem;
  }
  
  .tarjeta-detalle strong {
    color: #333; /* Color del texto para los títulos */
  }
  
  .loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* O cualquier altura que desees */
  }
  
  .loading-container p {
    margin-top: 10px; /* Espacio entre el spinner y el texto */
  }
  
  .icono-novedad {
    position: absolute;
    top: 8px;
    right: 8px;
    font-size: 16px;
    color: red;
    cursor: pointer;
  }
  