.Registro-Contenedor {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
}

.Registro-Logo {
  width: 120px;
  margin-bottom: 20px;
}

.Registro-Titulo {
  width: 100%;
  max-width: 400px;
  display: flex;
  font-size: 1rem;
  margin-bottom: 20px;
  justify-content: center;
}

.Registro-Titulo h1:nth-child(2) {
  color: rgb(141, 199, 63);
}

.Registro-Formulario {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.Registro-ContenedorInput {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.Registro-InputWrapper {
  display: flex;
  align-items: center;
  position: relative;
}

.Registro-Input {
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  flex-grow: 1;
}


.Registro-VerContrasenaBtn {
  position: absolute;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  color: #888;
  display: flex;
  align-items: center;
}

.Registro-Boton {
  padding: 10px;
  margin-top: 35px;
  font-size: 1rem;
  color: #fff;
  background-color: #000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
} 
  

 /* Ajustes para pantallas pequeñas */
 @media (max-width: 600px) {
  .Registro-Logo {
    width: 100px;
  }  

  .Registro-Contenedor {
    padding-left: 20px;
    padding-right: 20px;
  }
}
